<article class="rounded-xl bg-white shadow-sm">
  <div class="flex">
    <div class="w-1/5 h-full">

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 p-1 rounded-full border-2 border-gray-400 mx-auto align-middle">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
      </svg>

    </div>
    <div class="flex flex-col w-4/5 justify-start p-4">
      <div class="flex justify-between">
        <h3 class="text-lg font-medium sm:text-xl">
          <a href=""> Some Interesting Podcast Title </a>
        </h3>

        <div class="flex flex-row space-x-2">
          <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-500">
            Core
          </span>

          <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-500">
            Back
          </span>
        </div>
      </div>

      <p class="mt-3 text-sm text-gray-700">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam nulla
        amet voluptatum sit rerum, atque, quo culpa ut necessitatibus eius
        suscipit eum accusamus, aperiam voluptas exercitationem facere aliquid
        fuga. Sint.
      </p>

      <p class="mt-5 text-xs font-medium">48:32 minutes</p>
    </div>
  </div>
</article>
