<article class="bg-white rounded-xl border border-gray-100 shadow-xl">
  <a class="relative block p-8" href="">
    <span class="absolute right-4 top-4 rounded-full bg-green-100 px-3 py-1.5 text-xs font-medium text-green-600">
      {{ type }}
    </span>

    <div class="mt-4 text-gray-500 sm:pr-8">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-8 w-8 sm:h-10 sm:w-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
      </svg>

      <h3 class="mt-4 text-xl font-bold text-gray-900">{{ name }}</h3>

      <p class="mt-2 hidden text-sm sm:block">{{ description }}</p>
    </div>
  </a>

</article>
